<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Card</title>
    <style>
        .id-card-container {
            font-family: 'Petrona', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
    
        .logo {
            border-bottom: 4px solid #02507E;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
        }
    
        hr {
            background-color: #02507E;
            margin-top: 4px;
            border: 1px solid #02507E;
            border-color: #02507E;
            margin-bottom: 0;
        }
    
        .img {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            height: 150px;
            margin-bottom: 20px;
        }
    
        .id-card {
            width: 320px;
            height: 440px;
            background-color: #fff;
            border: 3px solid #000;
            overflow: hidden;
        }
    
        .id-card-front {
            padding-left: 10px;
            padding-right: 10px;
            justify-content: center;
            text-align: center;
        }
    
        .id-card-back {
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
    
        .logo img {
            height: 50%;
            width: 50%;
        }
    
        .id-card-front h2 {
            font-size: 16px;
            margin-bottom: 30px;
        }
    
        .id-card-front .photo img {
            width: 118px;
            height: 157.3px;
            object-fit: cover;
        }
    
        .details p {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            margin: 5px 0;
        }
    
        .details p span:first-child {
            flex-basis: 40%;
            text-align: left;
        }
    
        .details p span:last-child {
            flex-basis: 90%;
            text-align: left;
        }
    
        .id-card-front .qr-code img {
            width: 100%;
            height: 100px;
        }
    
        .id-card-back p {
            margin: 0;
            justify-content: center;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 15px;
            text-align: start;
        }
    
        .id-card-back #p1 {
            margin-top: 10px;
        }
    
        .id-card-back #p3 {
            margin-top: 10px;
        }
    
        .id-card-back #p4 {
            margin-top: 10px;
        }
    
        .id-card-back .footer {
            margin: 20px;
            margin-top: 0;
            text-align: center;
        }
    
        .id-card-back strong {
            display: block;
            font-size: 16px;
        }

        @media (max-width: 768px) {
            .id-card-container {
                flex-direction: column;
            }
        }
    </style>
</head>
<body>
    <div class="id-card-container">
        <div class="id-card">
            <div class="logo">
                <img src="<%= gmfLogoUrl %>" alt="GMF AeroAsia">
            </div>
            <hr>
            <div class="id-card-front">
                <h2>PERSONEL PERALATAN PELAYANAN DARAT PESAWAT UDARA
                    <br>
                    (GSE Operator)
                </h2>
                <div class="img">
                    <div class="photo">
                        <img src="data:image/<%= photoType %>;base64,<%= photoBase64 %>" alt="Profile Picture">
                    </div>
                    <div class="qr-code">
                        <img src="data:image/<%= qrCodeType %>;base64,<%= qrCodeBase64 %>" alt="QR Code">
                    </div>
                </div>
                <div class="details">
                    <p><span>Name</span><span>: <%= name %></span></p>
                    <p><span>Company</span><span>: <%= company %></span></p>
                    <p><span>ID Number</span><span>: <%= idNumber || '-' %></span></p>
                    <p><span>Nationality</span><span>: <%= nationality %></span></p>
                </div>          
            </div>
        </div>
        <div class="id-card">
            <div class="logo">
                <img src="<%= gmfLogoUrl %>" alt="GMF AeroAsia">
            </div>
            <hr>
            <div class="id-card-back">
                <p>Kartu ini merupakan kartu ijin mengendarai kendaraan ground support equipment (GSE) berdasarkan kompetensi yang dimiliki masing-masing pemegang kartu ini.</p>
                <p>Dengan digunakannya kartu ini, Pemegang kartu menyatakan tunduk dan patuh pada peraturan yang berlaku.</p>
                <br>
                <p>Jika kartu ini ditemukan, mohon dikembalikan ke:</p>
                <br>
                <p><strong>Gedung Posko GMF</strong>Area Perkantoran Bandara Soekarno Hatta - Tangerang, Banten</p>
            </div>
        </div>
    </div>
</body>
